<!DOCTYPE html>
<html>
<head>
  <title>DodayApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h5> "Wazup Bitches!?" </h5>
<%= yield %>

</body>
</html>
